*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
	html::before{
		content: "";
		position: fixed;

		width: 1680px;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: rgba(249, 254, 254, 0.8);
		z-index: -1;
		background-image:url("images/glasses.png");
		background-attachment: fixed;
		filter: grayscale(100%) contrast(90%);
		background-blend-mode: overlay;

	}



.topOption{
	background-color: rgb(255, 255, 255);
	height : 115px;
	padding-left: 253px;
	padding-top: 50px;
	font-family: sans-serif;
	font-size: 13px;
	width: 1680px;
}
.topOption span{
	float: right;
	margin-right:280px;

}
.menu{
	color: rgba(0, 0, 0, 0.8);
}
a:link{
	color:rgba(0, 0, 0, 0.3);
	text-decoration: none;
	
}
a:hover{
	color:black;
}
a:visited{
	color:rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

a:active{
	text-decoration: none;
}
.topbanner{
	position: relative;
	background-image:linear-gradient(rgba(255, 255, 255, 0.2),
	rgba(255, 255, 255, 0.2)), url("images/lawyer.jpg");
	width: 1680px;
	background-size: cover;
	height: 745px;
	padding-top: 160px;

}
.signUpBlock{
	background-color: rgb(35, 51, 90);
	filter:brightness(122%);
	height:400px;
	margin-left: 230px;
	width: 355px;
	padding: 40px;
}
span.line1{
	font-family: sans-serif;
	color: white;
	font-size: 12px;
}
span.line2{
	font-family: 'Arial', sans-serif;
	color: white;
	font-size: 30px;
}
span.line3{
	font-family: sans-serif;
	color: rgb(237, 211, 16);
	font-size: 12px;
}
.signUpInputBox{
	height:40px;
	width: 280px;
}
.signUpButton{
	height: 40px;
	width:150px;
	background-color: rgb(237, 211, 16);
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	border: none;
	
}

.features{
	background-color: rgb(255, 255, 255);
	font-family: 'Arial', sans-serif;
	column-count: 3;
	column-gap: 25px;
	padding-top: 138px;
	padding-left: 250px;
	padding-right: 200px;
	padding-bottom: 147px;
	color: rgba(0, 0, 0, 0.458);
	font-size: 13px;
	line-height: 1.4;
	width: 1680px;
}

.featTitle{
	color: rgba(0, 0, 0, 0.6);

	font-size: 15px;
}

.CEOQuote{
	font-family: 'Arial', sans-serif;
	font-size: 21px;
	background-color: rgb(241, 241, 241);
	color: rgba(0, 0, 0, 0.6);
	padding-top: 152px;
	padding-left: 250px;
	padding-right: 200px;
	padding-bottom: 152px;
	width: 1680px;
	text-align: center;
}
.quoteAuthor{
	font-size: 13px;
}

.priceChart{
	height:700px;
	padding-top: 90px;
	padding-left: 280px;
	padding-right:250px;
	column-count: 3;
	column-gap: -10px;
	width: 1680px;
}

.priceOptions{
	background-color: rgb(255, 255, 255);
	height:500px;
	width: 340px;
	padding-top: 50px;
	text-align: center;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.99);
	background-image:
	linear-gradient( 0deg, rgb(235,235,235) 0.6px, transparent 0.6px),
	linear-gradient( 90deg, rgb(235,235,235) 0.6px, transparent 0.6px),
	linear-gradient( 45deg, transparent 14px,  rgb(235,235,235) 15px, transparent 15px),
	linear-gradient( 135deg, transparent 14px, rgb(235,235,235) 15px, transparent 15px)
	;
	background-size: 9.9px 9.9px, 9.9px 9.9px, 21.2px 21.2px, 21.2px 21.2px;
	background-blend-mode: normal;
}

.price{
	font-size: 28px;
}

.buynow{
	width: 140px;
	height: 55px;
	border: none;
	color:azure;
	background-color: rgb(40, 40, 118);
}

.tryDiv{
	background-image: linear-gradient(rgba(2, 42, 73, 0.75),
	rgba(2, 42, 73, 0.75)), url("images/notebook.jpg");
	background-position: center -275px;
	overflow: hidden;
	color: white;
	font-family: 'Arial', sans-serif;
	background-size: cover;
	position: relative;
	top:0;
	left:0;
	height: auto;
	padding-top: 190px;
	padding-bottom: 190px;
	text-align: center;
	font-size: 13px;
	width: 1680px;
}

.tryline1{
	font-size: 25px;
}

.tryButton{
	width: 180px;
	height: 50px;
	border: none;
	background-color: rgb(237, 211, 16);
	color: black;
}

.biz{
	font-size: 18px;
}
.socialMediaLinks{
	width: 1680px;
	padding-top: 80px;
	height:300px;
	background-color: rgb(4, 25, 48);
	color: white;
	font-family: 'Arial', sans-serif;
	text-align: center;
	font-size: 12px;
}
.icons{
	height: 100px;
}